@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tailwind-blue-700: rgb(29, 78, 216);
  --tailwind-green-700: rgb(21, 128, 61);
  --tailwind-red-700: rgb(185, 28, 28);
}

::selection {
  @apply text-white
  bg-blue-700;
}

* {
  font-family: Arial;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a:link {
  text-decoration: underline;
  cursor: pointer;
  @apply text-blue-700;
}

a:visited {
  @apply text-purple-700;
}

a:hover {
  @apply text-blue-800;
}

.JSONTree {
  --json-tree-operator-color: var(--tailwind-blue-700);
  --json-tree-arrow-color: var(--tailwind-blue-700);
  --json-tree-label-color: var(--tailwind-blue-700);
  --json-tree-property-color: var(--tailwind-blue-700);
  --json-tree-string-color: var(--tailwind-green-700);
  --json-tree-date-color: var(--tailwind-green-700);
  --json-tree-boolean-color: var(--tailwind-red-700);
  --json-tree-number-color: var(--tailwind-red-700);
  --json-tree-null-color: var(--tailwind-red-700);
  --json-tree-font-size: 14px;
  --json-tree-font-family: Arial;
}
