@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(51, 122, 183);
  @apply text-white;
}

* {
  font-family: Arial;
}

a {
  color: #6900ff;
  text-decoration: underline;
  cursor: auto;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

a {
  color: rgb(51, 122, 183);
  text-decoration: underline;
  cursor: pointer;
}

.JSONTree {
  --json-tree-operator-color: rgb(51, 122, 183);
  --json-tree-arrow-color: rgb(51, 122, 183);
  --json-tree-label-color: rgb(51, 122, 183);
  --json-tree-property-color: rgb(51, 122, 183);
  --json-tree-string-color: rgb(108, 128, 55);
  --json-tree-date-color: rgb(108, 128, 55);
  --json-tree-boolean-color: rgb(173, 103, 41);
  --json-tree-number-color: rgb(173, 103, 40);
  --json-tree-null-color: rgb(173, 103, 40);
}
